header.header(role='banner')
  img(src='../images/front-end-boilerplate.png' width="75" height="auto")
  h1 Initialize 
  h2 A simple Webpack based boilerplate for modern Front-End development.
  .header__buttons
    a.btn.btn-header(href='#') Github
    a.btn.btn-header(href='#') Download