include variables.pug
include ../_mixins/all.pug
doctype HTML
html(lang=project.lang, dir='ltr')
  head
    include head.pug
  body
    include header.pug
    main
      block main
    include footer.pug
