
$primary-color: #05abe0;
$black: #37474f;
$color-white: #fff;

@import 'utilities/main';
@import './fonts';
@import 'vendors/main';
@import 'base/main';
@import 'components/main';

.header {
  background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  color: #fff;
  padding: 5em 1.5em;
  text-align: center;

  h2 {
    color: $color-white;
  }

  &__buttons {
    .btn {
      margin: 0.25em;
    }
  }
}

h1 {
  font-family: 'Open Sans', Helvetica;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: $primary-color;
}

p {
  color: $black;
}

.git-command {
  &::before {
    content: '$ ';
  }
}

.code-container {
  .btn {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }
}

code {
  background: #fff;
  border: 1px solid $primary-color;
  border-radius: 0.3em;
  color: #37474f;
  font-family: monospace;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.55em;
  white-space: nowrap;

  @media screen and (max-width: 768px) {
    display: block;
  }
}
