doctype html
html(lang="en")
  head
    title= 'Webpack Front-End Boilerplate'
  body
    h1=db.title
    a(href='contact.html') Go to page content
    .row
      .col-md-6
        p Text here
      .col-md-6
        p Image here
        img(src='../images/awesome-webpack.png' width='200' height='auto')