section
  .wrapper
    h2 About
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    h2 Getting Started
    p The 
      b starterkit 
      | allows you to create and build awesome sites without worrying about anything else. To get started, first you will need to download starterkit or clone the repository using git.
    .code-container
      a.btn(href='#') Download
      code.git-command git clone https://github.com/
    i.icon.github
