section
  .wrapper
    .features-list
      h2 Features
      .features-list__item
        .feature-card
          h3 Webpack
          p Description
      .features-list__item
        .feature-card
          h3 Sass
          p Description
    