section
  .wrapper
    .features-list
      h2 Features
      ul.js-features
        - for (var i=0 ; i< 10 ; i++)
          li.features-list__item
            .feature-card
              h3 Webpack
              p Description
        